<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>my name is ASWIN</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dignissimos id dicta iusto possimus, voluptatem, sint rem minima labore, iste eligendi quis quisquam. Autem debitis quasi eligendi natus illum voluptas.</p>
</body>
</html>