<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASWIN HHA hha hha hha hha hhha   jnsadjknajsvmakld;mvkadmvklmad;lm </title>
</head>
<body>
  
    <div style="width: 30%; background-color: black; height: 95vh;"> fdfdf</div>
    
</body>
</html>